* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT sans';
}



.header__burger-button {
    display: none;
}

.main {
    padding-top: 48px;
}

.main__title {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 440px;
    margin: 0 auto 29px;
}

.main__description {
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
}

.main__section-one {
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 24px;
}

.section-block {
    background-color: #81b3d2;
    text-align: center;
    color: white;

    font-size: 14px;
    line-height: 21px;
}

.section-block__title {
    max-width: 126px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    padding-top: 51px;
    margin-bottom: 11px;
}

.section-block__number {
    margin-bottom: 20px;
}

.section-block__description {
    max-width: 272px;
    margin: 0 auto;
}

.section-one__features-list {
    list-style: none;
}

.main__section-three {
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 32px;
}

.section-three__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;

    margin-bottom: 32px;
}

.section-three__description {
    font-size: 14px;
    line-height: 24px;
    max-width: 440px;
    margin: 0 auto 47px;
}

.section-three__button {
    border: none;
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 66px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.section-three__button:hover {
    background-color: #669ec0;
    cursor: pointer;
}

.section-three__button:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.footer {
    text-transform: uppercase;
}

@media (max-width: 575.9px) {
    .header__nav {
        padding-top: 56px;
    }
    
    /*burger-button code start*/
    .header__burger-container {
        width: 23px;
        height: 21px;
        position: absolute;
        cursor: pointer;

        top: 23px;
        right: 25px;
    }

    .header__burger-button,
    .header__burger-button::after,
    .header__burger-button::before {
        content: '';
        display: block;
        
        width: 23px;
        height: 5px;
        background-color: #81b3d2;
    }

    .header__burger-button::after {
        transform: translate(0, 3px);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transform: translate(0, 3px);
        -moz-transform: translate(0, 3px);
        -ms-transform: translate(0, 3px);
        -o-transform: translate(0, 3px);
    }

    .header__burger-button::before {
        top: 16px;
        right: 0px;
        transform: translate(0, 16px);
        -webkit-transform: translate(0, 16px);
        -moz-transform: translate(0, 16px);
        -ms-transform: translate(0, 16px);
        -o-transform: translate(0, 16px);
    }

    .header__burger-container--active {
        z-index: 10;

        transition: 0.3s;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }


    .header__burger-button--active {
        background-color: white;
        transition: 0.3;
        -webkit-transition: 0.3;
        -moz-transition: 0.3;
        -ms-transition: 0.3;
        -o-transition: 0.3;
    }

    .header__burger-button--active::after {
        display: none;
    }

    .header__burger-button--active::before {
        background-color: white;
        transition: 0.3s;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    /*burger-button code end*/

    .nav__list {
        text-align: center;
        list-style: none;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #81b3d2;
    }

    .nav__list-item:not(.nav__list-item--logo) {
        display: none;
        position: relative;
        top: 0;
        z-index: 4;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    .nav__list-item--logo {
        position: absolute;
        top: 0;
        left: 120px;
        background: url('../assets/index-sedono/logotype-desktopp.svg') no-repeat;
        background-size: contain;
        width: 290px;
        height: 380px;

        z-index: -1;
    }

    .nav__link {
        display: block;
        text-decoration: none;
        color: white;
        border-bottom: 1px solid #678fa8;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .nav__link:hover {
        background-color: #669ec0
    }

    .nav__link:not(.nav__link:first-child) {
        border-top: 1px solid #9ac2db;
    }

    .header__background-image {
        position: relative;
        background-image: url('../assets/index-sedono/back-desktop.jpg');
        width: 100%;
        height: 400px;

        background-position: 800px;
        z-index: -2;
    }

    .header__background-decoration {
        background: url('../assets/index-sedono/intro-triangle.svg') no-repeat;
        background-position: center -21px;

        position: absolute;
        height: 36px;
        width: 100%;
        bottom: 0;

        z-index: 10;
    }

    .main__title {
        max-width: 258px;
        font-size: 18px;
        line-height: 26px;
    }

    .main__description {
        max-width: 260px;
        margin: 0 auto;
    }

    .section-block__title {
        font-size: 18px;
        max-width: 100%;
        margin-bottom: 5px;
    }

    .section-block__number {
        margin-bottom: 7px;
    }

    .section-block__description {
        padding-bottom: 45px;
    }

    .section-block__image {
        display: block;
        width: auto;
        background-position: -100px;
        height: 260px;

        margin-bottom: 25px;
    }

    .features-list__list-item {
        display: flex;

        max-width: 270px;
        margin: 0 auto 33px;
    }

    .features-list__feature-title {
        margin-bottom: 14px;
    }

    .features-list__features-description {
        max-width: 210px;
    }

    .features-list__feature-image {
        background: url('../assets/index-sedono/icon-burger-mobile.svg') no-repeat;
        width: 48px;
        height: 55px;
    }

    .features-list__feature-image--home {
        background-position: 0px 0px;
    }

    .features-list__feature-image--burger {
        background-position: 0px 0px;
    }

    .features-list__feature-image--present {
        background-position: 0px 0px;
    }

    .main__section-two {
        text-transform: uppercase;
    }

    .section-block--section-two {
        order: -1;
    }

    .section-two__grid-container {
        display: flex;
        flex-direction: column;
    }

    .section-block__image--section-two {
        margin: 0;
    }

    .section-two__features-list {
        background-color: #f6f3f0;
        padding-top: 20px;

        margin-bottom: 23px;
    }

    .features-list__list-item--section-two {
        border-bottom: 1px #d6d6d6 solid;
    }

    .features-list__list-item:last-child .features-list__list-item--section-two {
        border: none;
    }

    .section-block--feature-item {
        background-color: transparent;
        color: black;
        margin: 0;
        padding: 0;
    }

    .section-block__title--feature-title {
        padding: 0;
    }

    .section-three__title {
        font-size: 21px;
        line-height: 26px;
    }

    .section-three__description {
        width: 263px;
    }

    .section-three__button {
        width: 280px;
        height: 58px;
    }

    .section-three__image {
        width: auto;
        position: relative;
        left: -350px;
    }

    /*.features-list__feature-image--home*/
}


@media (min-width: 576px) {
    body {
        background-color: #f2f2f2;
        /*#f2f2f2*/
    }

    .shadow-box-wrapper {
        width: 1200px;
        margin: 0 auto;
        background-color: white;

        box-shadow: 0 15px 35px 15px rgba(0, 0, 0, .2);

    }

    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 1017px;
        margin: 0 auto;

        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;

        padding-top: 18px;
        margin-bottom: 21px;
    }

    .nav__flex-container {
        display: flex;
        width: 317px;
        justify-content: space-between;
    }

    .nav__flex-container--second {
        width: 320px;
        justify-content: start;
    }

    .nav__flex-container--second .nav__list-item:first-child {
        margin-right: 110px;
    }

    .nav__link {
        text-decoration: none;
        color: black;

        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
    }

    .nav__link:hover {
        color: #81b3d2;
    }

    .nav__link:active {
        color: #cacaca;
    }

    .nav__list-item--logo {
        background: url('../assets/index-sedono/logotype-desktopp.svg') no-repeat;
        width: 463px;
        height: 490px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 33%;

        z-index: 2;
    }

    .header__background-image {
        height: 518px;
        background: url('../assets/index-sedono/back-desktop.jpg') no-repeat;
        width: inherit;
        position: relative;
    }

    .header__background-decoration {
        background: url('../assets/index-sedono/intro-triangle.svg') no-repeat;
        width: inherit;
        height: 57px;
        position: absolute;
        bottom: 0;

    }

    .section-one__grid-container {
        display: grid;
        grid-template-columns: 400px auto;
        grid-template-rows: 256px auto;
        row-gap: 56px;
    }

    .section-one__features-list {
        display: flex;
        justify-content: space-around;
        grid-column: 1 / 3;
        list-style: none;
        text-align: center;

        margin-bottom: 60px;
    }

    .features-list__list-item {
        grid-column: 1 / 4;
    }

    .features-list__feature-image {
        background: url('../assets/index-sedono/icon-burger.svg') no-repeat;
        width: 92px;
        height: 78px;

        margin: 0 auto 23px;
    }

    .features-list__feature-image--home {
        background-position: 8px;
    }

    .features-list__feature-image--burger {
        background-position: -390px;
    }

    .features-list__feature-image--present {
        background-position: -790px;
    }

    .features-list__feature-title {
        font-weight: bold;
        line-height: 26px;
        font-size: 21px;

        margin-bottom: 21px;
    }

    .features-list__features-description {
        font-size: 14px;
        line-height: 21px;
        max-width: 286px;
        margin: 0 auto;
    }

    .main__section-two {
        text-transform: uppercase;

        margin-bottom: 54px;
    }

    .section-two__grid-container {
        display: grid;
        grid-template-columns: auto 400px;
        grid-template-rows: 256px 256px;
    }

    .section-block__title--section-two {
        max-width: 156px;
    }

    .section-block__description--section-two {
        max-width: 220px;
        text-align: center;
    }

    .section-block__image-block--section-two {
        grid-column: 1;
        grid-row: 1;
    }

    .section-block--section-two {
        grid-column: 2;
    }

    .section-two__features-list {
        display: flex;
        grid-row: 2;
        grid-column: 1 / 3;
        list-style: none;
    }

    .section-block--feature-item {
        width: 400px;
        background-color: #eeeeee;
        color: black;
    }

    .section-block__title--feature-title {
        padding-top: 44px;
    }

    .section-block__description--feature {
        padding-bottom: 66px;
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
        width: 960px;
        margin: 0 auto;
    }

    .footer__hashtag {
        font-size: 21px;
        font-weight: bold;
        line-height: 26px;
        ;
    }

    .footer__contact-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 151px;
    }

    .contact-list__item {
        width: 46px;
        height: 48px;
        background: #81b3d2;
    }
}


